<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctgu.huawei.mapper.CartMapper">

    <select id="listAllInCart" parameterType="int" resultType="com.ctgu.huawei.pojo.Cart">
        SELECT * FROM Cart WHERE uid = #{id}
    </select>

    <delete id="deleteCart" parameterType="int" >
        DELETE FROM Cart WHERE id = #{id}
    </delete>

    <insert id="insertCart" parameterType="com.ctgu.huawei.pojo.Cart" useGeneratedKeys="true" keyProperty="cart.Id">
        INSERT into Cart (pid, uid, num)
        VALUES (#{pid}, #{uid}, #{num})
    </insert>

    <select id="selectByPidAndUid" parameterType="int" resultType="com.ctgu.huawei.pojo.Cart">
        SELECT * from cart WHERE pid = #{pid} AND uid = #{uid}
    </select>

    <update id="upadteNumById" parameterType="int">
        UPDATE Cart SET num = num + #{num} WHERE id = #{id}
    </update>

</mapper>